body{
    background-color: oldlace;
}
.navbar ul{
    list-style: none;
    background-color: rgb(146, 124, 96);
    

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display:block;
    text-align:center;
}
.top-image{
    background-image: url(Futurehouse.png);
    background-position: center;
    height: 800px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-image p{
    background-color: rgba(0, 0, 0, 0.701);
    border-radius: 10px;
    padding: 10px;
    text-align: center;

}
.text-top{
    width: 50%;
}
.buttons-hub{
    display: flex;
    width: auto;
    align-content: end;
    flex-direction: row;
    
}

h2{
    font-size: 20px;
    text-align: center;
}
.img-and-text{
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 50px; */
    margin-right: 50px;

}
img{
    height: 300px;
    border-radius: 10px;
}
.img-and-text p{
    width: 30%;
    background-color: black;
    padding: 10px;
    border-radius: 10px;

}
.lil-section{
    width: 100%;
    margin-top: 30px;
    background-color: rgba(7, 28, 46, 0.471);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.lil-section h3{
    font-size: 30px;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}

