.navbar ul{ 
    list-style-type: none;
    background-color: rgb(172, 151, 123);
   padding: 0px;
   margin: 0px;
   overflow: hidden;
    

}
.navbar a:hover{
    background-color: rgb(91, 79, 57);
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display:block;
    text-align: center;
    float: left;
}
.navbar a:hover{
    background-color: rgb(91, 79, 57);
}